<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2008/03/17 14:39:20 jkohnlein Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/m2t/xpand3/staticTypesystem" 
       class = "org.eclipse.xpand3.staticTypesystem.StaticTypesystemPackage"
       genModel = "model/static_typesystem.genmodel" /> 
  </extension>

</plugin>
