<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2008/03/20 10:15:42 jkohnlein Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/m2t/xpand/xpand3" 
       class = "org.eclipse.xpand3.Xpand3Package"
       genModel = "src/xpand3.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/m2t/xpand/xpand3/expression" 
       class = "org.eclipse.xpand3.expression.ExpressionPackage"
       genModel = "src/xpand3.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/m2t/xpand/xpand3/statement" 
       class = "org.eclipse.xpand3.statement.StatementPackage"
       genModel = "src/xpand3.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/m2t/xpand/xpand3/declaration" 
       class = "org.eclipse.xpand3.declaration.DeclarationPackage"
       genModel = "src/xpand3.genmodel" /> 
  </extension>
  
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/tmf/common/Xpand3Node" 
       class = "org.eclipse.xpand3.internal.frontend.parser.xpand3node.Xpand3nodePackage"
       genModel = "model/Xpand3Node.genmodel" /> 
  </extension>

</plugin>
