<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/m2t/xpand/xpand3" 
       class = "org.eclipse.xpand3.Xpand3Package"
       genModel = "src/xpand3.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/m2t/xpand/xpand3/expession" 
       class = "org.eclipse.xpand3.expression.ExpressionPackage"
       genModel = "src/xpand3.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/m2t/xpand/xpand3/statement" 
       class = "org.eclipse.xpand3.statement.StatementPackage"
       genModel = "src/xpand3.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/m2t/xpand/xpand3/declararation" 
       class = "org.eclipse.xpand3.declaration.DeclarationPackage"
       genModel = "src/xpand3.genmodel" /> 
  </extension>
  <extension
        point="org.eclipse.xtend.backend.MiddleEnd">
     <element_1
           class="org.eclipse.xpand3.middlend.Xpand3MiddleEndFactory">
     </element_1>
  </extension>

</plugin>
