<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.activities">
         
         <!-- Category -->
    <category
         description="%activity.category.description"
         id="org.eclipse.xpand.ui.category"
         name="%activity.category">
    </category>
         
         <!-- UI elements, defined using general pattern -->
    <activity
          description="%activity.xpand.ui.description"
          id="org.eclipse.xpand.ui"
          name="%activity.xpand.ui">
    </activity>
    <activity
          description="%activity.xtend.ui.description"
          id="org.eclipse.xtend.ui"
          name="%activity.xtend.ui">
    </activity>
    <activityPatternBinding
          activityId="org.eclipse.xpand.ui"
          pattern="org\.eclipse\.xpand\.ui\..*/.*">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.xtend.ui"
          pattern="org\.eclipse\.xtend\.ui\..*/.*">
    </activityPatternBinding>
    <categoryActivityBinding
        activityId="org.eclipse.xtend.ui"
        categoryId="org.eclipse.xpand.ui.category">
    </categoryActivityBinding>
   <defaultEnablement
       id="org.eclipse.xpand.ui">
   </defaultEnablement>
   <defaultEnablement
       id="org.eclipse.xtend.ui">
   </defaultEnablement>
    </extension>      
</plugin>
