<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.xtend.shared.ui.metamodelContributor">
		<metamodelContributor
			class="org.eclipse.xtend.typesystem.xsd.ui.XSDMetamodelContributor"
			name="XSD Metamodels" />
	</extension>
	<extension id="xsdBuilder" name="XSD Metamodel Builder"
		point="org.eclipse.core.resources.builders">
		<builder
        callOnEmptyDelta="true"
        hasNature="false"
        isConfigurable="false">
			<run class="org.eclipse.xtend.typesystem.xsd.ui.XSDBuilder"></run>
		</builder>
	</extension>

</plugin>
