<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.emf.editor.EEditor"
            contributorClass="org.eclipse.emf.ecore.presentation.EcoreActionBarContributor"
            icon="icons/synch_toc_nav.gif"
            id="org.eclipse.emf.genericEditor"
            name="Generic EMF Form Editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.ecore.xmi">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.emof">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.generic.xmi">
         </contentTypeBinding>
      </editor>
   </extension>
<extension
        point="org.eclipse.core.contenttype.contentTypes">
     <content-type
           base-type="org.eclipse.core.runtime.xml"
           id="org.eclipse.emf.generic.xmi"
           name="Ecore Instance"
           priority="high">
        <describer
              class="org.eclipse.emf.ecore.xmi.impl.XMLContentHandlerImpl$XMI$Describer">
        </describer>
     </content-type>
  </extension>
</plugin>
