<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="resourceContributor" name="%extension-point.resource.contributor.name" schema="schema/resourceContributor.exsd"/>
   <extension-point id="metamodelContributor" name="%extension-point.metamodel.contributor.name" schema="schema/metamodelContributor.exsd"/>
   
   <extension
         id="xtendXPandNature"
         name="%nature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.xtend.shared.ui.core.builder.XtendXpandNature">
         </run>
      </runtime>
   </extension>
   
   <extension
         id="xtendBuilder"
         name="%builder.name"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false">
         <run class="org.eclipse.xtend.shared.ui.core.builder.XtendXpandBuilder"/>
      </builder>
   </extension>
   
   <extension
         id="problem"
         name="%marker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent
            value="true">
      </persistent>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.xtend.shared.ui.core.properties.MetamodelContributorsPropertyAndPreferencePage"
            id="org.eclipse.xtend.shared.ui.properties.MetamodelContributorsPropertyPage"
            name="%preference.page.metamodel.contributors.name">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.xtend.shared.ui.core.properties.MetamodelContributorsPropertyAndPreferencePage"
            id="org.eclipse.xtend.shared.ui.properties.MetamodelContributorsPropertyPage"
            name="%property.page.metamodel.contributors.name"
            objectClass="org.eclipse.core.resources.IProject">
       <filter
             name="nature"
             value="org.eclipse.xtend.shared.ui.xtendXPandNature"/>
      </page>
      <page
            class="org.eclipse.xtend.shared.ui.core.properties.MetamodelContributorsPropertyAndPreferencePage"
            id="org.eclipse.xtend.shared.ui.properties.MetamodelContributorsPropertyPage"
            name="%property.page.project.metamodel.contributors.name"
            objectClass="org.eclipse.jdt.core.IJavaProject">
       <filter
             name="nature"
             value="org.eclipse.xtend.shared.ui.xtendXPandNature"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="org.eclipse.xtend.shared.ui.extXptThemeCategory"
            label="%themeElementCategory.label"/>
   </extension>
   
   <extension point="org.eclipse.xtend.shared.ui.metamodelContributor">
      <metamodelContributor          
         name="JavaBeans Metamodel"
         class="org.eclipse.xtend.shared.ui.core.metamodel.jdt.javabean.JavaBeanMetamodelContributor"/>
      <metamodelContributor        
         name="oAW-Classic Metamodel"
         class="org.eclipse.xtend.shared.ui.core.metamodel.jdt.oaw.OawClassicMetamodelContributor"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.xtend.shared.ui.core.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.xtend.shared.ui.JavaProjectContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.eclipse.xtend.shared.ui.core.action.AddXtendXpandNatureAction"
               id="org.eclipse.xtend.shared.ui.action.AddXtendXpandNatureAction"
               label="%action.add.nature.label"
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               >
         </action>
         <visibility>
         	<not>
	            <objectState
    	              name="nature"
        	          value="org.eclipse.xtend.shared.ui.xtendXPandNature">
            	</objectState>
            </not>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.xtend.shared.ui.XtendXpandProjectContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.eclipse.xtend.shared.ui.core.action.RemoveXtendXpandNatureAction"
               id="org.eclipse.xtend.shared.ui.action.RemoveXtendXpandNatureAction"
               label="%action.remove.nature.label"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         <visibility>
               <objectState
                     name="nature"
                     value="org.eclipse.xtend.shared.ui.xtendXPandNature">
               </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/nature_ovr.gif"
            id="oorg.eclipse.xtend.shared.ui.decorator"
            label="%decorator.label"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <objectState
                  name="nature"
                  value="org.eclipse.xtend.shared.ui.xtendXPandNature">
            </objectState>
         </enablement>
      </decorator>
   </extension>
   <extension
    	id="XtendXpandSearchResultPage"
        point="org.eclipse.search.searchResultViewPages">
		<viewPage
			id="org.eclipse.xtend.shared.ui.editor.SearchResultPage"
			searchResultClass="org.eclipse.xtend.shared.ui.editor.search.query.XtendXpandSearchResult"
			class="org.eclipse.xtend.shared.ui.editor.search.view.XtendXpandSearchResultPage">
		</viewPage>
   </extension>
</plugin>
